<style>
	  h1 {color:white;}
	  h2 {color:white;}
	  p {color:blue;}
	  body {background: black;}
	  ul {color:white;}
	  ol {color:white;}
	  a {color: red;}
	  span {color: yellow;}
	  .bold_text { font-weight: bold;}
</style>